<div class='card'>
    <form (ngSubmit)="UpdateProduct()">
        <div class='card-header'>
            {{title}}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><label>Product Id</label></td>
                            <td><input type="text" name="p_id" [(ngModel)]="editItem.productId"/> </td>
                        </tr>
                        <tr>
                            <td><label>Product Name</label></td>
                            <td><input type="text" name="p_name" [(ngModel)]="editItem.productName"/> </td>
                        </tr>
                        <tr>
                            <td><label>Product Code</label></td>
                            <td><input type="text" name="p_code" [(ngModel)]="editItem.productCode"/> </td>
                        </tr>
                        <tr>
                            <td><label>Product Date</label></td>
                            <td><input type="text" name="p_date" [(ngModel)]="editItem.releaseDate"/> </td>
                        </tr>
                        <tr>
                            <td><label>Product Description</label></td>
                            <td><input type="text" name="p_desc" [(ngModel)]="editItem.description"/> </td>
                        </tr>
                        <tr>
                            <td><label>Product Price</label></td>
                            <td><input type="text" name="p_price" [(ngModel)]="editItem.price"/> </td>
                        </tr>
                        <tr>
                            <td><label>Product Star Rating</label></td>
                            <td><input type="text" name="p_rating" [(ngModel)]="editItem.starRating"/> </td>
                        </tr>
                        <tr>
                            <td><label>Product imageUrl</label></td>
                            <td><input type="text" name="p_image" [(ngModel)]="editItem.imageUrl"/> </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Submit"/></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>